* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-container {
  background-color: lightcyan;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#search-bar {
  padding: 1rem;
  border-radius: 1rem;
  /* margin: 1rem; */
  width: 100%;
  text-align: center;
}

.search-items {
  background-color: aliceblue;
  width: 100%;
  max-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.search-container {
  /* background-color: yellow; */
  width: 25vw;
  /* border-radius: 2rem; */
}

.search-item {
  width: 100%;
  text-align: center;
}

.search-item {
  background-color: rgb(239, 233, 233);
  /* border: 1px solid black; */
  /* border-radius: 2rem; */
}

.search-item:hover {
  background-color: rgb(218, 213, 213);
}
