* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-container {
  background-color: lightcyan;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#search-bar {
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}
