* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-container {
  background-color: lightcyan;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#search-bar {
  padding: 1rem;
  border-radius: 1rem;
  /* margin: 1rem; */
  width: 100%;
  text-align: center;
}

.search-items {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-container {
  /* background-color: yellow; */
  width: 25vw;
}
